html {
  scroll-behavior: smooth;
}

/* Hidden state */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

/* When active */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.content {
  background-color: rgba(166, 29, 29, 0);
  position-area: relative;
}
.app-background {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}
